
html {
  box-sizing: border-box;
}

body {
  font-weight: 500;
  margin: 0;
  min-height: 100vh;
  background-color: #262626;
  background-image: linear-gradient(45deg, #a05dbb 25%, transparent 25%), linear-gradient(-45deg, #1f0b31 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #3b3b3b 75%), linear-gradient(-45deg, transparent 75%, #3b3b3b 75%);
  background-size: 60px 60px;
  background-position: 0 0;
  animation: moveBackground 8s linear infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 50px 50px;
  }
}

.quote-container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;

  /* Add a background color and some padding */
  background-color: #f9f9f9;
  padding: 1rem;
  
  /* Add a box shadow to create a subtle depth effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  /* Add some rounded corners */
  border-radius: 8px;
  
  /* Add a responsive font size */
  font-size: 1.2rem;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
  
  /* Add a responsive margin to the top and bottom */
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 1rem;

  }
}

.quote-text{
  margin: 1rem;
}

.loader {
  justify-content: center;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #9034db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #613db6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #7b3e8e;
}